$navyBlue: #0e005d;
$alertRed: #ff0000;
$primary: #f79000;
$borderRadius: 5px;
$borderColor: gray;
$border: 1px, solid, $borderColor;
$backgroundColor: lightgray;
$padding: 20px;

body {
    padding: 0;
    margin: 0;
    width: 100%;
}