@use 'base';
// using base is basically just importing global variables
%card {
    background-color: base.$backgroundColor;
    border-radius: base.$borderRadius;
    border: base.$border;
    padding: base.$padding;
}

@mixin theme ($defaultbg: #262626) {
    background-color: $defaultbg;
}


.container {
    width: 80%;
    a {
        color: base.$primary;
    }
}


.card {
    // similar to my base objects in my games
    @extend %card;
    width: 50000px;    
}

.box {
    // still similar to my game with modifying classes
    @include theme($defaultbg: purple);
}